.container {
  border: 1px solid #e3eded;
  padding: 0px 0px 10px 0px;
  margin: 0px 10px 0px 10px;
  min-height: 100%;
}

.container-full {
  min-height: 500px;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.arabic-font {
  font-family: 'Times New Roman', Times, serif;
}

.footer {
  height: 30px;
  background-color: darkolivegreen;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.footer a {
  color: white;
}

.instruction {
  padding: 10px 0px 10px 10px;
  color: gray;
  text-decoration: underline dotted #f0e0b3;
  line-height: 1.5em;
}

.instruction .highlighter {
  color: #f0e0b3;
  background-color: #00468c;
  padding: 2px;
}

.instruction .arabic {
  background-color: #f7f775;
  color: #5a0505;
  padding: 2px;
  font-size: 1.5em;
}

@import "menu.css";
@import "misc.css";
@import "writing.css";

